<% @imgurl="/images/jlyd.jpg" %>
<div id = "leftmenu">
  <table width="200" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td id="menutop1" height="8" width="200"><img src="/images/memu_r1_c1.jpg" width="200" height="8"></td>
  </tr>
  <tr style="cursor:pointer">
    <td id="menutop2" height="20" width="200" align="left" background="/images/memu_r2_c1.jpg" style="color:#FFFFFF;font-weight:bold;" onMouseOver="change('menutop2','/images/memu_r6_c1.jpg');" onmouseout="recover('menutop2');">&nbsp;&nbsp;&nbsp;交流园地</td>
  </tr>
    <% 
    for communion in @communion
    %>
  <tr align="left" style="cursor:pointer">
    <td name="paremenu" id="<%=communion.categoryid%>" width="200" height="20" background="/images/memu_r9_c1.jpg" onMouseOver="change('<%=communion.categoryid%>','/images/memu_r6_c1.jpg');" onmouseout="recover('<%=communion.categoryid%>');" onclick="show1('child<%=communion.categoryid%>','<%=communion.categoryid%>','<%=communion.url%>')">
    &nbsp;&nbsp;&nbsp;<%=communion.categoryname%>
    </td>
  </tr>
  <tr name="childmenu" id="child<%=communion.categoryid%>" style="display:none">
    <td>
      <table width="200" cellpadding="0" cellspacing="0" border="0">
        <% for communiondetail in Category.find(:all,:conditions => "substring(categoryid,1,6) = '" + communion.categoryid + "' and length(categoryid) = 9",:order => "categoryid") %>
          <tr align="left" style="cursor:pointer">
          <td name="childmenuitem" id="<%=communiondetail.categoryid%>" width="200" height="20" background="/images/memu_r3_c1.jpg" onMouseOver="change('<%=communiondetail.categoryid%>','/images/memu_r7_c1.jpg');" onmouseout="recover('<%=communiondetail.categoryid%>');" onclick="show2('<%=communiondetail.categoryid%>','<%=communiondetail.url%>')">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=communiondetail.categoryname%>
          </td>
         </tr>  
        <% end %>
      </table>
     </td>
   </tr>
  <% end  %>
  <tr>
    <td id="menubuttom1" height="20" width="200"><img src="/images/memu_r9_c2.jpg" width="200" height="20"></td>
  </tr>
  <tr>
  <td id ="menubuttom2" width="200"><img src="/images/memu_r11_c1.jpg" width="200" height="7"></td>
  </tr>
</table>
</div>

<div id="menubuttom"></div>
<div id = "productcontent">
<iframe id="frame1" onload="this.height=this.contentWindow.document.body.scrollHeight;setTop()" frameborder="0" height="auto" width="100%" name="pcontent" src="<%=@menu%>" scrolling="no"></iframe>
</div>


