<div id="contactlist">
<div id="contact">
<br/>
<h3>留言一览</h3>
<br/>
<table id="table" cellpadding="0" cellspacing="0">
  <tr id="tabletr">
    <td width="140px">公司</td>
    <td width="50px">姓名</td>
    <td width="220px">联系地址</td>
    <td width="100px">联系电话</td>
    <td width="70px">更新日期</td>
    <td width="70px"></td>
  </tr>
  <% for contact in @contacts %> 
  <tr>
    <td><%=h(truncate(contact.company,10))%>&nbsp;</td>
    <td><%=contact.person%>&nbsp;</td>
    <td><%=h(truncate(contact.addr,20))%>&nbsp;</td>
    <td><%=contact.phone%>&nbsp;</td>
    <% if contact.createdate != "" and contact.createdate != nil  %>
    <td ><%= h(contact.createdate.strftime("%Y-%m-%d")) %>&nbsp;</td>
    <% else %>
    <td >&nbsp;</td>
    <% end %>
    <td><%= link_to '查看详细', :action => 'detail_contact', :id => contact %></td>
  </tr>
  <% end %>
</table>
</div>

<div id="fy">
<%= will_paginate @contacts,
:inner_window => 1,
:outer_window => 1,
:prev_label => '上一页',
:next_label => '下一页'
%>
</div>
</div>
