
<%= error_messages_for 'categorylist' %>
<br/>

<p><label for="categorylist_title">仪器名称</label><br/>
<%= text_field 'categorylist', 'title', :id => 'text'  %></p>
<br/>
<p><label for="categorylist_titlestyle">软件名称</label><br/>
<%= text_field 'categorylist', 'titlestyle', :id => 'text'  %></p>
<br/>
<p><label for="categorylist_titleurl">版本</label><br/>
<%= text_field 'categorylist', 'titleurl', :id => 'text'  %></p>
<br/>
<p><label for="categorylist_summary">安装对象</label><br/>
<%= text_field 'categorylist', 'summary',:id => 'text'  %></p>
<br/>
<p><label for="categorylist_writer">鼠标移动信息提示</label><br/>
<%= text_field 'categorylist', 'writer',:id => 'text'  %></p>
<br/>
<p><label for="order_overdate">发布时间</label><br />
<%= text_field 'categorylist', 'createdate', :id => 'text',:onclick=> "SelectDate(this,'yyyy-MM-dd')",:size=>"10"  %></p>
<br/>
<p><label for="categorylist_downloadfile">上传文件</label><br/>
<%=file_field 'categorylist','downloadfile',:id => 'image'%>   </p>
<br/>

