
<div id="categorylist">
<br/>
<h3>页面内容一览</h3>
<div id="categorylist1">
<table id="table1" bgcolor="#FFFFFF" width="540"   cellspacing="0" cellpadding="0" height="35" align=left>
<tr> 
    <%=  form_tag({:action => "query_categorylist"},{:method => "get"}) %>
    <td width="280">&nbsp;</td>
    <td width="60"><label for="categorylist_categoryid">所属栏目</label></td>
    <td width="140">   <%= select 'categorylist', 'categoryid', 
                Category.find_by_sql("select cy.categoryid,case when length(categoryid) = 9 then concat('----',cy.categoryname) else  cy.categoryname  end  as categoryname from
(select case when length(categoryid) = 3 then categoryname else  concat('----',categoryname)  end  as categoryname,categoryid 
from en_categories) cy order by cy.categoryid").collect{ |p| [p.categoryname, p.categoryid] },
                { :include_blank => true } %>
    </td>
    <td width="40">
    <%=  submit_tag '查询' %>
    </td>
</tr>
</table>
</div>
<table id="table" cellpadding="0" cellspacing="0">
  <tr id="tabletr">
    <td width="320">新闻标题</td>
    <td width="260">所属栏目</td>
    <!--<td>图片</td>-->
    <td colspan="2" width="120" align="center"><%= link_to '添加新标题', :action => 'add_categorylist' %></td>
  </tr>
  <% for categorylist in @all_categorylists %> 
  <tr>
    <td><%=h(truncate(categorylist.title,40))%>&nbsp;</td>
    <td><%=categorylist.en_category.categoryname%>&nbsp;</td>
    <td align="center"><%= link_to "修改",{ # link_to options
                           :controller => 'en_categorylist', 
                           :action => 'edit_categorylist',
                           :id => categorylist} %>
    </td>
    <td align="center"><%= link_to "删除", { # link_to options
                           :controller => 'en_categorylist', 
                           :action => 'delete_categorylist',
                           :id => categorylist},
                         { # html options
                           :method  => :post,
                           :confirm => "确定要删除 #{categorylist.title}?"
                         } %>

     </td>
  </tr>
  <% end %>
</table>
</div>
<div id="fy">
<%= will_paginate @all_categorylists,
:inner_window => 1,
:outer_window => 1,
:prev_label => '上一页',
:next_label => '下一页'
%>
</div>