<div id="contactdetail">
<br/>
<h2>产品注册信息明细</h2>
<br/>
<table id="table" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100px" align="right" colspan="2">仪器注册号:</td>
    <td width="600px" colspan="2"><%=@register.productregisterno %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">单位:</td>
    <td><%=@register.company %>&nbsp;</td>
    <td align="right" width="150">部门/科室/实验室:</td>
    <td width="450"><%=@register.dept %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">电话:</td>
    <td ><%=@register.phone %>&nbsp;</td>
    <td align="right">传真:</td>
    <td ><%=@register.fax %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">地址:</td>
    <td colspan="3"><%=@register.address %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">联系人:</td>
    <td colspan="3"><%=@register.linkman%>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">学历:</td>
    <td><%=@register.schoolrecord%>&nbsp;</td>
    <td align="right">职位:</td>
    <td ><%=@register.office %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">电子邮件:</td>
    <td><%=@register.email%>&nbsp;</td>
    <td align="right">研究方向:</td>
    <td ><%=@register.research %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">产品名称:</td>
    <td><%=@register.productname%>&nbsp;</td>
    <td align="right">型号:</td>
    <td ><%=@register.producttype %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">产品编号:</td>
    <td><%=@register.productno%>&nbsp;</td>
    <td align="right">生产日期:</td>
    <td ><%=@register.productdate.strftime("%Y-%m-%d") %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">购买日期:</td>
    <td><%=@register.buydate.strftime("%Y-%m-%d")%>&nbsp;</td>
    <td align="right">供应商:</td>
    <td ><%=@register.supplier %>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">购买凭证:</td>
    <td colspan="3">
    <% if @register.upperfile != "" and @register.upperfile != nil %>
      <img src="/productphoto/<%=@register.upperfile%>" border="0" width="700px" height="500px" alt="" />
    <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="4" align="center"><%= link_to "删除", { # link_to options
                           :controller => 'product_register',
                           :action => 'delete_register',
                           :id => @register},
                         { # html options
                           :method  => :post,
                           :confirm => "确定要删除当前内容?"
                         } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', :action => 'list_register' %></td>
  </tr>
</table>


</ul
</div>