<%= error_messages_for 'menu' %>
<br/>
<!--[form:product]-->
<p><label for="menu_name">子菜单名称</label><br/>
<%= text_field 'menu', 'menuname' , :id => 'text'  %></p>
<br/>
<p><label for="menu_url">子菜单路径</label><br/>
<%= text_field 'menu', 'menuurl', :id => 'text'  %></p>
<br/>
<p><label for="menu_menudeep1">子菜单分类</label><br/>
<%= text_field 'menu', 'menudeep1', :id => 'text'  %></p>
<br/>
<p><label for="menu_menudeep2">子菜单序号</label><br/>
<%= text_field 'menu', 'menudeep2', :id => 'text'  %></p>

