
<%= error_messages_for 'order' %>
<br/>
<!--[form:product]-->
<p><label for="order_depart" >职位名称</label><br />
<%= text_field 'order', 'depart', :id => 'text' %></p>
<br/>
<p><label for="order_poth">职位类型</label><br />
<%= text_field 'order', 'poth', :id => 'text' %></p>
<br/>
<p><label for="order_num">招聘人数</label><br />
<%= text_field 'order', 'num', :id => 'text'  %></p>
<br/>
<p><label for="order_workadd">工作地点</label><br />
<%= text_field 'order', 'workadd', :id => 'text'  %></p>
<br/>
<p><label for="order_overdate">截止时间</label><br />
<%= text_field 'order', 'overdate', :id => 'text',:onclick=> "SelectDate(this,'yyyy-MM-dd')",:size=>"10"  %></p>
<br/>
<p><label for="order_info">招聘要求</label><br />
<%= text_area 'order', 'info', :id => 'textarea'  %></p>

